streamlit
requests
langchain
langchain-community
langchain-openai
langchain-ollama
langchain-huggingface
langchain-text-splitters
pdfplumber
sentence-transformers
faiss-cpu
python-dotenv
fastapi
uvicorn
python-multipart
